:root {
    --color-background:#fef3c7;
    --color-header: #d97706;
    --color-section1:#fcd34d;
    --color-section2:#fbbf24;
    --color1-button:#d97706;
    --color2-button:#b45309;
    --color-button-hover:#EA580C;
    --color1-text: #000000;
    --color2-text:#000000;
    --color-border:#000000;
    color-scheme:light;
    --transition: 0.2s ease-in-out;
}

:root[data-theme="dark"] {
    --color-background:#1e293b;
    --color-header: #0f172a;
    --color-section1:#0f172a;
    --color-section2:#0f172a;
    --color1-button:#334155;
    --color2-button:#334155;
    --color-button-hover:#609ED4;
    --color1-text: #f1f5f9;
    --color2-text:#f1f5f9;
    --color-border:#000000;
    --color-black:#000000;
    color-scheme:dark;
}

* {
    box-sizing: border-box;
    transition: background-color var(--transition);
}

svg {
    transition: color var(--transition);
}

body{
    background-color: var(--color-background);
}

/*---- ---- ---- ---- ---- ---- ----- HEADER ---- ---- ---- ---- ---- ---- ---- ---- */

.header {
    margin: 0 5px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    background-color: var(--color-header);
}

#logo {
    width: 120px;
    height: 48px;
    align-self: start;
    color: var(--color1-text);
}   

#logo:hover {
    cursor: pointer;
}

:root[data-theme="light"] #moon-icon {
    display: none;
}

:root[data-theme="dark"] #sun-icon {
    display: none;
}

.headerIcon {
    position: absolute;
    right: 20px;
    font-size: 2rem;
    align-self: center;
    color: var(--color1-text);
}

.headerIcon:hover {
    cursor: pointer;
}

/*---- ---- ---- ---- ---- ---- ----- CONTAINER & SECT. LEFT ---- ---- ---- ---- ---- ---- ---- ---- */

.container {
    background-color: var(--color-background);
    padding: 10px;
    display: grid;
    gap: 11px;
    grid-template-columns: repeat(auto-fit, minmax(385px,1fr));
}

.sect-left {
    padding: 10px;
    height: 95vh;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color:var(--color-section1);
}

#input-area {
    width: 90%;
    height: 365px;
    top: 110px;
    border-style: none;
    background-color:var(--color-section);
    /* Fonts */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 2rem; */
    font-size: clamp(1rem, 0.7778rem + 0.8889vw, 1.5rem);
    line-height: 150%;
    color: var(--color1-text);
    padding: 10px 10px;
}

#input-area::placeholder {
    color: var(--color1-text);
    text-align: center;
}

.note1 {
    top: 495px;
    left: 62px;
    display: flex;
    gap: 1px;
    align-self: start;
    /* Fonts */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 150%;
    color: var(--color1-text);
    opacity: 0.8;
    align-self: center;
}

#icon{
    align-self: center;
}

.buttons-container {
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#encrypt-btn, #decrypt-btn {
    width: 40%;
    height: 57px;
    border-radius: 24px; 
    /* Fonts */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1rem; */
    font-size: clamp(0.8rem, 0.7111rem + 0.3556vw, 1rem);
    line-height: 19px;
}

#encrypt-btn {
    /*Borders   */
    background: var(--color1-button);
    border: 1px solid var(--color-border);
    /* Fonts */
    color: var(--color1-text);
}

#decrypt-btn {
    /*Borders   */
    background: var(--color2-button);
    border: 1px solid var(--color-border);
    /* Fonts */
    color: var(--color1-text);
}

#encrypt-btn:hover {
    background: var(--color-button-hover);
    color: var(--color-black);
    font-style: bold;
    font-size: 1.1875rem;
    transition: 0.1s;
    cursor: pointer;
}

#decrypt-btn:hover, #copy-button:hover {
    background: var(--color-button-hover);
    color: var(--color-black);
    font-style: bold;
    font-size: 1.1875rem;
    transition: 0.1s;
    cursor: pointer;
}

/*---- ---- ---- ---- ---- ---- ----- SECTION. RIGHT ---- ---- ---- ---- ---- ---- ---- ---- */

.sect-right {
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    gap: 20px; */
    height: 95vh;
    border-radius: 36px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    background-color: var(--color-section2);
}

#show-result1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

#munheco {
    width: 60%;
}

#not-found-container{
    text-align: center;
}

#not-found-parag {
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    /* font-size: 1.5rem; */
    font-size: clamp(1rem, 0.7778rem + 0.8889vw, 1.5rem);
    line-height: 120%;
    color:var(--color1-text);
}

#not-found-parag:nth-child(2){
    width: 100%;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1rem; */
    font-size: clamp(0.8rem, 0.7111rem + 0.3556vw, 1rem);
    line-height : 150% ;
    color: var(--color1-text);

    border-style : none;
}

/* Script en Html vuelve display flex */
#show-result2 {
    display: none;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    height: 100%;
    background-color:var(--color-section1);
}

#encrypted-result{
    padding: 10px;
    /* Fonts */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1.5rem; */
    font-size: clamp(1rem, 0.7778rem + 0.8889vw, 1.5rem);  
    line-height: 150%;
    color: var(--color1-text);
    background-color: var(--color-section1);
}

#encrypted-result::-moz-selection{
    background-color: transparent;
}

#encrypted-result::selection{
    background-color: transparent;
}

#just-to-posisionate-span-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#show-result2 input {
    align-self: center;
    text-align: center;
    width: 40%;
    height: 67px;
    border: 1px solid var(--color-border);
    border-radius: 24px;
    /* Fonts */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    /* font-size: 1rem; */
    font-size: clamp(0.8rem, 0.7111rem + 0.3556vw, 1rem);
    line-height: 19px;
    color: var(--color1-text);
    background-color: var(--color1-button);
}

#copied-prompt{
    align-self: center;
    text-align: center;
    line-height: 40px;
    width: 100px;
    height: 40px;
    border-radius: 150px;
    background-color: #65a30d;
    border: 1px solid black;
    opacity: 0%;
    color: #000000;
    transition: 500ms;
}

/*---- ---- ---- ---- ---- ---- ----- FOOTER ---- ---- ---- ---- ---- ---- ---- ---- */
/* footer{
    height: 50px ;
    margin: 10px 5px;
    padding: 10px 20px;
    display: flex !important;
    flex-direction: row ;
    gap: 10px;
    background-color: var(--color-header);
    align-items: center ; 
    justify-content: center ;
} */

footer{
    height: 50px ;
    margin: 10px 5px;
    padding: 10px 20px;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    background-color: var(--color-header);
}

#footer-icon-container {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
}

/* check this */
#github-link{
    justify-self: end;
    color: inherit;
}

.footer-icon{
    font-size: 2rem;
}

footer iconify-icon:hover{
    cursor: pointer;
}

footer p{
    align-self: end;
    justify-self: end;
    font-size: 0.95rem;
}